{% extends 'blog/navBar.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% bootstrap_css %}

{% block content %}
{% bootstrap_messages %}
<div class="container-md" style="color:white">
    <h1>AI Agent Demo</h1>
<!--    gamemode-->
<!--    {{ gamemode }}-->
<!--    <br>-->
<!--    diff-->
<!--    {{ difficulty }}-->
<!--    <br>-->
<!--    gamestate-->
<!--    {{ gamestate }}-->
<!--    <br>-->
<!--    currentplayer-->
<!--    {{ current_player }}-->
<!--    <br>-->
<!--    move-->
<!--    {{ move }}-->
<!--    <br>-->
<!--    Cookie data-->
<!--    {{ cookie_data }}-->
<!--    <br>-->
    {% if not gamemode and not difficulty %}
    <form method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="gamemode" id="gamechoice1" autocomplete="off" value="Human">
          <label class="btn btn-outline-primary" for="gamechoice1" disabled>Play against human locally</label>

          <input type="radio" class="btn-check" name="gamemode" id="gamechoice2" autocomplete="off" value="AI">
          <label class="btn btn-outline-primary" for="gamechoice2" disabled>Play against AI</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endif %}
    {% if gamemode == "AI" and not difficulty%}
    <h2>AI Difficulty Choice</h2>
    <form method="post">
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="difficulty" id="diff1" autocomplete="off" value="Random">
            <label class="btn btn-outline-primary" for="diff1">Easy AI (Random)</label>

            <input type="radio" class="btn-check" name="difficulty" id="diff2" autocomplete="off" value="MinMax">
            <label class="btn btn-outline-primary" for="diff2">Medium AI (MinMax)</label>

            <input type="radio" class="btn-check" name="difficulty" id="diff3" autocomplete="off" value="MCTS">
            <label class="btn btn-outline-primary" for="diff3">Hard AI (Monte Carlo)</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endif %}
    {% if gamewin %}
    <h1>{{ winner }} WINS!</h1>
    {% endif %}
    {% if difficulty or gamemode == "Human" %}
    {% if not gamewin %}
    <h2>Game Started! Currently, it is {{ current_player }}'s Turn</h2>
    {% endif %}
        <div class="container-md" align="center">
            {% for line in displaystate %}
                <div class="row">
                {% for item in line %}
                    {% if item == "X" %}
                        <div class="h-100 col bg-secondary">
                            <img src="{% static 'assets/empty_chip.png' %}" class="img-fluid">
                        </div>
                    {% elif item == "A" %}
                        <div class="h-100 col bg-secondary">
                            <img src="{% static 'assets/blue_chip.png' %}" class="img-fluid">
                        </div>
                    {% elif item == "B" %}
                        <div class="h-100 col bg-secondary">
                            <img src="{% static 'assets/red_chip.png' %}" class="img-fluid">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        {% if not gamewin %}
        <form method="post">
            <div class="row">

            {% csrf_token %}
            {% for num in "1234567" %}
                <div class="col">
                    <input type="submit" id="move" name="move" class="btn btn-primary" value="{{ num }}">
                </div>
            {% endfor %}

            </div>
        </form>
        {% endif %}
        </div>
    {% endif %}
    {% if gamewin %}
    <br>
    <a class="btn btn-primary" href="{% url 'AIDemo' %}">Play Again</a>
    {% endif %}
</div>
{% endblock %}

{% block bootstrap5_extra_script %}

{% endblock %}
