{% extends 'blog/navBar.html' %}
{% load django_bootstrap5 %}

{% bootstrap_css %}

{% block content %}
{% bootstrap_messages %}
<div class="container-md" style="color: white">
    <h1>API Playground</h1>
    <p>Enter an integer below and the server will post it to a series of public APIs and display their
    response</p>
    <form role="form" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <input type="number" name="number" min="0" max="100"
                 class="form-control" placeholder="Number" required id="id_number">
          <div class="form-text">Please enter an integer</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class ="card">
        <div class="card-body">
          <h5 class="card-title">Numbers API</h5>
          <p class="card-text">
            {% if numbersAPI %}
            {{ numbersAPI }}
            {% else %}
            This API returns a random fact about a number.
            {% endif %}
          </p>
        </div>
      </div>
      </div>
      <div class="col-sm">
        <div class ="card">
          <div class="card-body">
            <h5 class="card-title">Pokemon API</h5>
            <p class="card-text">
              {% if pokemonAPI %}
              {{ pokemonAPI }}
              {% else %}
              This API returns the pokemon corresponding to the search number.
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class ="card">
          <div class="card-body">
            <h5 class="card-title">Math API</h5>
            <p class="card-text">
              {% if mathAPI %}
              {{ mathAPI }}
              {% else %}
              This API returns a random math fact.
              {% endif %}
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}