{% extends 'blog/navBar.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
        <h2>Hello {{ request.user.first_name }} {{ request.user.last_name }}</h2>
        <a href="{% url 'logout' %}" class="btn btn-primary" type="button" >Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary" type="button" >Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary" type="button" >Register</a>
        {% endif %}

    </div>
{% endblock %}