{% extends 'blog/navBar.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
<div class="container-md">
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if classification %}
    <img src = {{ image }} width="500">
    <br>
    ResNet believes that this is a {{ classification }} with {{ score }} certainty
    {% endif %}

</div>

{% endblock %}