{% extends 'blog/home.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
<div class="container-md">
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if classification %}
    {{ image }}
    <img src = "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLD
RYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNG
g8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N
//AABEIAHwApQMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAADAAIEBQYBBwj/xAA1EAACA
QMDAQYEBQUAAwEAAAABAgMABBEFEiExBhMiQVFhMnGBkQcUFaHBQlJisfBDouE0/8QAGQEAAwEBA
QAAAAAAAAAAAAAAAAECAwQF/8QAIBEAAgICAgMBAQAAAAAAAAAAAAECEQMSITEEE0EyFP/aAAwDA
QACEQMRAD8AwLuCKizdKb32RQnkyKyOZIGz4NcElAmbmmIxzTKJ6ncKG6c06E8U8jNMRF2809Uoh
Xmn7eKQDAtMkJFFJxQJTmqSEC381IQZFBW2l7szlHEQ6uV8I+tSoF49aJIdHVj4zTsUUDimNxUgN
24pjLmiZp6qDzQBCkjI5piipkq8VGOFNMBwHFCl4p2/FDdgwpoCMxOaVJuvFKrAliXApne5prLxQ
wMHFZjHOcnNJacqGkVxToA8LVKHSq+I81OiORzSYh4FX+kdkdU1rTnvNKWG42Nh4hIFcH5Gqizs7
m/uo7WziMs8hwqivZNAtZNA0m3sXlSSdBmQxqBt+vn9aVpdmmOGzM52W/DQygXHaMPCAf8A8oOGP
1HQVvbDsx2b0yeOWz0e2SdRxLISxP3PWq6LX1ud43qBGdpI8j6UdbrADy7lXyJGM0b30dCxJdmpE
0bW2xYI2Q8MuwbftVRqPZbs7q0Ajn0uCMg+F4F7th9RXbe/TuvDICCOKLb34UHLAGjYeqPPtd/Cm
aNJJdIuRMM5WJ8KQPIZ86861vR7/Rp+41CIJJjyOR96+jzcu8W9F8J6MD1Necfi2vfaJBdpDGcuA
0hXlSfQ007MZ4+LR5Hv96LHKBUOU7TQhLg06MWiyZwR1qFMctxXBLTgN3NOhUMVC3lTjAcdKmwRD
ipX5fI6UWVRQtEQelKrh7TJ6UqdoNStK1xUy4FEanxLls1Ah6xeHgUySLAPFTUUYrkkeeBQmNFaq
YaptrE80iRxIzyMcKijJJppgI8q1H4f2tudVa4ul3/l13KD0B9T6021RUY26RruzOmRdlbA3Fzj9
SnTxA/+Iegp02qtIxUHr1I6mol/L+auJX7zDHxAegxxUGzJe5CHrzu588GuSU3JnowgoRou9GeGz
tkkZVJA3EeQPU/Ws5rnbuS5laKBMsrDKshH2rRWFrGllE+7LMMjmrJLSCRQ80MJkb4AUGT7/Kt4r
imYSbuw+gWl7f2cF7JE8WUB2sMH61aXmm3kNubiBGkZFJ2KMk/Ko767FolrvuZTj5Zz8hUex/EGG
SZRJblYM4L7wSPpVKFg5Fd2H7YNd3klhdRMhOSUMZAHXjnoasZY7fV9M1HTL07rfv2jD+cfoR8jW
me1tpEM8ESBJfG2FH3rHWBWEXQjJYPct19if/lRkuNMrGlK0zyDtJoN7oV+1rex+8coHgkX1B/7F
UphJr1b8VNp06xyCcudhz04/fjFebBR0q9jkmqlRESHHlR0WpBj44puzHlV7WhUPtm5FWcXI6VXQ
Jg1PjOBWcmJsNtBrlc30qnYnYoCOaNEMULxE9DRYww8jVWFkqOjqAaiLuB6GpCMcUrAIyDFWWgXw
tZ2gchY5RgnAGD7nrVS8hFC3sT0NKXKKjLV2bC4mAlBHKDr702wnRZ2k4wvrVLZ3M8qJA8byY4Vl
+ID+auJre4023Rru3KCdMxt/dz/ALrDVpHfHNGZO03VCdkakSMvhAxxkVb2lw8933k8xkcKfCOAB
WL0u6lilaLGNzfUE019Xk0bVpI7okwyjCuedvT/AHmtYOzORf8AbPbe2hQHBHIIOMeVeeWttN+YW
CVXaMHOO99/XH8Veavq/wCYUpZRm6Yct3Y4HzqksJ9RN0ouLfELHBHd/DjzHnW6kiFFn0LodwsHZ
uycSFe5CqT1znisvZzAxF/hDXLHrnB3HI/cVXpqj3mj21vbbo41I5wQWPT7DJqvvpLzQbBo5oGdW
uN0ZzjK4+Iex4rHK9ujXHUeZDPxPut7WFoDnapkP1wB/NYRR4qnatqFxqV131yxZgu0ccACoPIPS
kcuRpybRKUDFcZcUNGIFdaTiiyLCpgV1pQoqN3poUjk0dk9kwT0qgKzDypU6FRpF03/ABFEGm+1a
T8so8qaYBnivJ/omRyZ8ad7U79PwOgq87tQ/SumMAcdaS8mQWZ59PB/p5qRZaI9zfJaxLudjgVb9
wDzt5re9htISCD89IoMjjwkjpXX40pZpV8HG2yV2e7E6Vplr3l7DFPIMNlh8Jqg7SE3kTKFVY0Pg
GOnyrbavctBZsAR4uPesVPKsiMoHPpXpySSo6YqujCy2aAktwynhulcuNOTUIQlyd0gYYfODjNXt
9b/ABeAZzxVdKxjXiPLdBzXL+XwdC5M3HDfaPK35faE3Hng7h8yKt9MutQ1lzax2ECbgVZx5e/tT
7aSSZmFyocMfhPQVZaNBNPd93bIIbdW8ezjd7Zqlkv4WnJfTS6dpiyTRwRhe7iUJkdOPMVoO0Vjb
3Wkd2scW+MYVnXO3jyoGkrs8Cf0gY4q1vbV7nRpxDnvOSAP6gK0j1ZhkdniN3pDLcOGIbn4h50Ma
T/jWoeNd7Bxlh69a6saHPhHFeXPO7ONsy/6Tx8IpraT7VqzGvoKYY1/tFR72FmU/SPRa5+kf41qu
7T0xSEacjAql5EhNmW/Rv8AGlWpIjXqBSqvdMXI43KgkEc0NWIUM+Oa4FXcQeeODTGPeGOMLwASx
9K46bQMUJ3SnJG3musw2DB5z+1KNNkkYHIwc0mQOHKnHi4Bo1fwA1uU3gOftXpmnzR29nbwqMeAY
yeT9K8ttTicD0HOD71q5tWQSFc47qMlW6YJwM/96V6PgzUINsvG0i51i5E7BOoA6etZ65iBG/BDH
kc0+zuvzQLHC5AAGei0pLmNg8cLq7A7Qa7ZTTVm8ZEQIstsg2MH3cK3nxUNrOTe74GxSVPFWIkBl
GW4XAUnyPWlcTqYZhEwzvPA/q4rByiy1OjOrbSPNIixcKucr5Vo9Ms/y0aJxuLckDBI96r7CUJe+
RWUHPtjn/VXilWd7hmCBZAF+qiljkmW52XFqjxxzSjHeKuV9OB0q2sJgxt41B2m33Z8jnGP5rPW8
xnd7fvOWIAP7c0XQrxlnucuHKSCFY+mADkD/wB8Vup8ozk+TIamsiahcK8RRu8IwwxUaOUBWPUZr
1i8Om3zNb3cMcrJEGZsdAc9D9KxOq9nrIWUk2lFz3TlHiZslcMRkfPFcWbxpJ7J2c7g0zPSSAAEZ
waaJQ0b8dK467QS4OV6j0oiwhgYkOWYVxK2RTARh2GVBJPSla7nfk1Ij32wdOAQjKT6D1oSLsQt5
+tKLaoK5ByJ3jkg8DgUqLlQBsU4xXK19jHyBiYNMTnOOlSTbkNkHg9feg28WHORzU7dtFVGCaplR
hfZHS3YhSeOfOhtCxkOM4HSjtcYGAaIjjGfOq0SKWNECKJkPI59c0WTdOWBZlJ6/L0o0rAg+tR9x
FRJJdENJMJDP3WF8vMeooUs7mUuqYX1B/70pMP3pzsCir96zcpNVYjiTOU25O3rXSxBUrwAScUVF
UAcUxgTmqSddlUcV8fSjXN/LK5b4VA8IHrUYkiuM+VwRSc2lSY9qJUd/Kjl45GRyOoP2pQahJArq
CTvIZj6sDUAZNO21KyyXJGzLvT9YmaafvJSvejZuxnaMih2eqtZX7hsSR96rE/3AcN888H6VVbgo
wKW7kn1rR55ccjsm6m8Ru5dmDGx3ADzzTEbYqPxuAz/ABUdI9z5oqJh8VMW5SbBDi29Fz6Y+/Wnt
hgwAx6USUIqcVG3havWimGU7FAC5PUmlTBcJjrSo0CjkZFObkVHU8URTxUe0W43b4qcxI4pp+KnG
o9pO4zk0gKfSqdmTYNhTC3NFfpQSOaltjsIrHFOGTTEFGWqUuQTG7PM0x0oxobmhuwsEFp+3iurR
AM0gQAoM10IKc/FOTpTQWcA29KepNKnoBitIyLsa+StRnzipjDjFAZRTcyWyLtNKjkClS9grP/Z
">
    ResNet believes that this is a {{ classification }} with {{ score }} certainty
    {% endif %}

</div>

{% endblock %}