{% extends 'blog/bootstrap.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}Aussar's Django Demo{% endblock %}</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'apiPlayground' %}">API Playground</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'MLDemo' %}">ML Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogFeed' %}">Blog Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'game' %}">Game</a>
                </li>
            </ul>
        </nav>
        <br>
        {% block content %}{% endblock %}
    </div>
{% endblock %}