{% extends 'blog/bootstrap.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}Django Demo{% endblock %}</h1>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'apiPlayground' %}">API Playground</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'MLDemo' %}">ML Demo</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blogFeed' %}">Blog Feed</a></li>
        </ul>

        {% block content %}{% endblock %}
    </div>
{% endblock %}